In [1]:
import pandas as pd
import numpy as np

## Exercicio 1

In [ ]:
# lista aceita varios tipos num 'array', como tipos inteiros, floats e strings numa só lista.
# O array Numpy aceita um tipo só, "um ou o outro" 
# O Dicionario, aceita varios tipos e ele acessa seus valores a partir de suas respectivas chaves
# A Series tem apenas uma coluna, na verdade duas, a primeira que é o indice(index), e a segunda é o dado(s).

## Exercicio 2

In [3]:
s1 = pd.Series (data = [5, 6, 8, -3, 9]) # COMO N ESPECIFICOU OS INDICES SERAO DE [0, ATÉ DATA-1]
print (s1, '\n')

d = {'Campeão': 'Flamengo', 'Vice':'Vasco', 'Terceiro':'Bangu'} # CRIA UM DICIONARIO 
s2 = pd.Series(d) #CRIA O SERIES A PARTIR DO DICIONARIO
print (s2, '\n')

dados = np.random.random(4) #DADOS ALEATORIOS, DE 0 A 4, LOGO 5 ELEMENTOS/VALORES 
indices = np.arange(0, 8, 2) # CRIA OS INDICES
s3 = pd.Series(data = dados, index = indices) # CRIA O SERIES A PARTIR DOS DADOS E INDICES CRIADOS ANTERIORMENTE
print(s3, '\n')

s4 = pd.Series(-9, index=['a', 'b', 'c', 'd']) # -9 É O DATA, E LOGO DEPOIS ELE ESPECIFICA OS INDICES QUE O SERIES VAI TER
print (s4)

0    5
1    6
2    8
3   -3
4    9
dtype: int64

Campeão     Flamengo
Vice           Vasco
Terceiro       Bangu
dtype: object

0    0.366279
2    0.613454
4    0.369408
6    0.699041
dtype: float64

a   -9
b   -9
c   -9
d   -9
dtype: int64

## Exercicio 3

In [ ]:
# Na nomeclatura da funçao, como argumento so dizer "index =", e falar quais indices voce quer utilizar, se não expexificar o indices ele coloca como padrão um array de[0, até qtd do data - 1]

## Exercicio 4

In [26]:
s4['a'] = 'R'
s4

a     R
b    -9
c    -9
d    -9
dtype: object

In [4]:
d = {'Times Paulistas': ['São Paulo', 'Santos', 'Corinthians'],
 'Times Cariocas': ['Flamengo', 'Fluminense', 'Botafogo'],
 'Times Ruins': ['Palmeiras', 'Vasco', 'Remo']}
df = pd.DataFrame(d)
print(df, '\n')

dados = np.random.random((5,3))
df2 = pd.DataFrame(data = dados, index = np.arange(5), columns = np.random.randint(1, 100, 3))
print (df2, '\n')

listas = [[9,3,6], [6,2,9], [6,1,6]]
df3 = pd.DataFrame(listas, index = (2,3,4), columns = ['A', 'B', 'C'])
print (df3)

  Times Paulistas Times Cariocas Times Ruins
0       São Paulo       Flamengo   Palmeiras
1          Santos     Fluminense       Vasco
2     Corinthians       Botafogo        Remo

         24        28        26
0  0.948306  0.878347  0.678463
1  0.170764  0.263123  0.309795
2  0.862642  0.833153  0.686111
3  0.486674  0.177593  0.266973
4  0.479268  0.679650  0.287885

   A  B  C
2  9  3  6
3  6  2  9
4  6  1  6

## Exercicio 5

In [8]:
df3['A'] = ['T', 'O', 'P']
df3

   A  B  C
2  T  3  6
3  O  2  9
4  P  1  6

In [13]:
df3.index = [4,5,6]
df3

   A  B  C
4  T  3  6
5  O  2  9
6  P  1  6

In [15]:
df3.columns = ['Coluna 1', 'Coluna 2', 'Coluna 3']
df3

  Coluna 1  Coluna 2  Coluna 3
4        T         3         6
5        O         2         9
6        P         1         6

In [29]:
s3 = s1+s2
s3

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
Campeão     NaN
Vice        NaN
Terceiro    NaN
dtype: object