In [40]:
import numpy as np
import pandas as pd

In [41]:
df = pd.DataFrame({'A': [1,2,3,4], 
                   'B': [10,20,30,40]})
df

   A   B
0  1  10
1  2  20
2  3  30
3  4  40

In [42]:
df['A'] #Indexção Coluna

0    1
1    2
2    3
3    4
Name: A, dtype: int64

In [43]:
df['A'][0] #Indexação Coluna

1

In [44]:
df.loc[1] #Indexação Linha

A     2
B    20
Name: 1, dtype: int64

In [45]:
df.loc[[1,3]] #Linha/Fatiamento

   A   B
1  2  20
3  4  40

In [46]:
df.iloc[0]

A     1
B    10
Name: 0, dtype: int64

In [47]:
s1 = pd.Series([1,2,3,4])
s2 = pd.Series([10,20,30,40,50])
s3 = pd.Series([2,4,6,8,10])

df = pd.concat([s1,s2], axis = 1)# Indexa a partir de linhas 
df

     0   1
0  1.0  10
1  2.0  20
2  3.0  30
3  4.0  40
4  NaN  50

In [48]:
df.columns =['A', 'B'] #Renomear colunas
df

     A   B
0  1.0  10
1  2.0  20
2  3.0  30
3  4.0  40
4  NaN  50

In [49]:
df = pd.concat([s1,s2], axis = 1) #Indexa a partir de colunas
df

     0   1
0  1.0  10
1  2.0  20
2  3.0  30
3  4.0  40
4  NaN  50

In [51]:
df.columns = ['a','b']

In [ ]:
df2 = s3.to_frame()
df2

In [57]:
df3 = pd.concat([df,df2], axis = 1)
df3.columns = ['A','B','C']
df3

     A   B   C
0  1.0  10   2
1  2.0  20   4
2  3.0  30   6
3  4.0  40   8
4  NaN  50  10

In [58]:
df3.reindex(index=['a','b','c','d','e'])

    A   B   C
a NaN NaN NaN
b NaN NaN NaN
c NaN NaN NaN
d NaN NaN NaN
e NaN NaN NaN

In [ ]:
df.index #Retorna uma lista de indices, se colocar valores a mais, ele vai dar erro
df.columns #Retorna lista de colunas 
            # df.reindex([lista de indices]), se passar indices a mais ele preenche com NaN