In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Atividade 4.1 e 4.2

In [3]:
df = pd.DataFrame({'Valores' : [2, 4, 7, 8, 9, 6, 5, 8]})
df

   Valores
0        2
1        4
2        7
3        8
4        9
5        6
6        5
7        8

#### Amplitude do conjunto

In [4]:
df['Valores'].max() - df['Valores'].min()

7

#### Desvio Padrão

In [5]:
df.std()

Valores    2.356602
dtype: float64

#### Média

In [6]:
df.mean()

Valores    6.125
dtype: float64

#### Moda

In [7]:
df.mode()

   Valores
0        8

#### Mediana

In [8]:
df.median()

Valores    6.5
dtype: float64

### Exemplo 4.1

In [10]:
data = {'Nome' : ['Joao da Silva', 'Pedro Fernandes', 'Maria Freitas', 'Paula Gonçalves', 'Ana Freitas',
                  'Luiz Costa', 'Andre Souza', 'Ana Carolina chaves', 'Patricia Silva', 'Regina Lima',
                  'Alfredo Souza', 'Margarete Cunha', 'Pedro Barbosa', 'Ricardo Alves', 'Marcio Rezende'],
        'N de dep.' : [3, 1, 0, 0, 1, 3, 4, 0, 2, 2, 3, 0, 2, 0, 1]}
df2 = pd.DataFrame(data)
df2

                   Nome  N de dep.
0         Joao da Silva          3
1       Pedro Fernandes          1
2         Maria Freitas          0
3       Paula Gonçalves          0
4           Ana Freitas          1
5            Luiz Costa          3
6           Andre Souza          4
7   Ana Carolina chaves          0
8        Patricia Silva          2
9           Regina Lima          2
10        Alfredo Souza          3
11      Margarete Cunha          0
12        Pedro Barbosa          2
13        Ricardo Alves          0
14       Marcio Rezende          1

In [13]:
df2['N de dep.'].max() - df2['N de dep.'].min()

4

In [15]:
df2.std()

N de dep.    1.355764
dtype: float64

### Atividade 4.4

In [17]:
c = 5*(5.2-32) / 9
c

-14.88888888888889

### Atividade 4.5

In [19]:
x = np.array([4, 6, 8, 10, 12])
y = np.array([6, 8, 10, 12, 14])
classes = []
c = ""
for i in range (len(x)):
    c = str(x[i]) + ' |-- ' + str(y[i])
    classes.append(c)
classes

['4 |-- 6', '6 |-- 8', '8 |-- 10', '10 |-- 12', '12 |-- 14']

In [20]:
freq = np.array([10, 12, 18, 6, 4])

In [23]:
dados1 = {'Classes' : classes,
         'Frequencia' : freq}

df3 = pd.DataFrame(dados1)
df3

     Classes  Frequencia
0    4 |-- 6          10
1    6 |-- 8          12
2   8 |-- 10          18
3  10 |-- 12           6
4  12 |-- 14           4

In [24]:
df3['Frequencia'].std()

5.477225575051661