# Series e Data Frame

   #### Passo 1

In [25]:
import numpy as np
import pandas as pd

#### Passo 2

In [26]:
x = {'Evolução' : ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
     'HP' : [45, 39, 44, 45],
     'Nome' : ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
     'Pokedex' : ['Sim', 'Não', 'Sim', 'Não'],
     'Tipo' : ['Planta', 'Fogo', 'Agua', 'Inseto']}

In [27]:
dat = pd.DataFrame(x)
dat

     Evolução  HP        Nome Pokedex    Tipo
0     Ivysaur  45   Bulbasaur     Sim  Planta
1  Charmeleon  39  Charmander     Não    Fogo
2   Wartortle  44    Squirtle     Sim    Agua
3     Metapod  45    Caterpie     Não  Inseto

#### Passo 3

In [28]:
evo = pd.Series(dat['Evolução'])
evo

0       Ivysaur
1    Charmeleon
2     Wartortle
3       Metapod
Name: Evolução, dtype: object

In [29]:
hp = pd.Series(dat['HP'])
hp

0    45
1    39
2    44
3    45
Name: HP, dtype: int64

In [30]:
nome = pd.Series(dat['Nome'])
nome

0     Bulbasaur
1    Charmander
2      Squirtle
3      Caterpie
Name: Nome, dtype: object

In [31]:
po = pd.Series(dat['Pokedex'])
po

0    Sim
1    Não
2    Sim
3    Não
Name: Pokedex, dtype: object

In [32]:
tip = pd.Series(dat['Tipo'])
tip

0    Planta
1      Fogo
2      Agua
3    Inseto
Name: Tipo, dtype: object

#### Passo 4

In [33]:
pd.DataFrame(dat)

     Evolução  HP        Nome Pokedex    Tipo
0     Ivysaur  45   Bulbasaur     Sim  Planta
1  Charmeleon  39  Charmander     Não    Fogo
2   Wartortle  44    Squirtle     Sim    Agua
3     Metapod  45    Caterpie     Não  Inseto

In [34]:
z = pd.DataFrame([evo, hp, nome, po, tip])
z.T

     Evolução  HP        Nome Pokedex    Tipo
0     Ivysaur  45   Bulbasaur     Sim  Planta
1  Charmeleon  39  Charmander     Não    Fogo
2   Wartortle  44    Squirtle     Sim    Agua
3     Metapod  45    Caterpie     Não  Inseto

#### Passo 5

In [35]:
y = pd.DataFrame([nome, evo, tip, hp, po])
y = y.T
y

         Nome    Evolução    Tipo  HP Pokedex
0   Bulbasaur     Ivysaur  Planta  45     Sim
1  Charmander  Charmeleon    Fogo  39     Não
2    Squirtle   Wartortle    Agua  44     Sim
3    Caterpie     Metapod  Inseto  45     Não

#### Passo 6

In [36]:
y = y.set_index('Nome')
y

              Evolução    Tipo  HP Pokedex
Nome
Bulbasaur      Ivysaur  Planta  45     Sim
Charmander  Charmeleon    Fogo  39     Não
Squirtle     Wartortle    Agua  44     Sim
Caterpie       Metapod  Inseto  45     Não

#### Passo 7

In [43]:
notas = [9, 9, 10, 7]
y['Notas'] = notas
y

              Evolução    Tipo  HP Pokedex  Notas
Nome
Bulbasaur      Ivysaur  Planta  45     Sim      9
Charmander  Charmeleon    Fogo  39     Não      9
Squirtle     Wartortle    Agua  44     Sim     10
Caterpie       Metapod  Inseto  45     Não      7

#### Passo 8

In [47]:
y.dtypes

Evolução    object
Tipo        object
HP          object
Pokedex     object
Notas        int64
dtype: object